body {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    min-width: 20%;
    max-width: 33%;
    flex-basis: 48px;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.5em;
}

@media (max-width: 900px) {
    .list-item {
	min-width: 40%;
	max-width: 50%;
    }
}

@media (max-width: 480px) {
    .list-item {
	min-width: 90%;
	max-width: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
