#nav-bar {
    border-style: solid;
    border-radius: 1em;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    padding: 0.5em;
    width: 40%;
    min-width: 256px;
    grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 480px) {
    #nav-bar {
	width: 90%;
	margin-right: auto;
    }
}

.nav-item {
    width: 25%;
    margin-right: 1em;
    margin-left: 1em;
}

.nav-button {
    cursor: pointer;
}

.hideable {
    display: none;
}
