#nav-bar {
    border-style: solid;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 2%;
    width: 40%;
}

@media (max-width: 480px) {
    #nav-bar {
	width: 90%;
	margin-right: auto;
    }
}

.nav-item {
    flex: 1 1 20%;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-button {
    cursor: pointer;
}

.hideable {
    display: none;
}

input, button {
    min-width: 48px;
    min-height: 48px;
}
