body {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
    #tags {
	grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    #tags {
	grid-template-columns: auto;
    }
}

.stupid-checkbox-container {
    vertical-align: middle;
}

.tag-checkbox + .tag-label {
    display: inline;
    vertical-align: middle;
    margin: 0.5em;
}

#fulltext {
    margin: 0.5em;
}

#submit {
    margin: 0.5em;
}
