body {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#tags {
    display: flex;
    flex-wrap: wrap;
}

.stupid-checkbox-container {
    min-width: 30%;
    max-width: 100%;
    flex-basis: 48px;
    flex-grow: 1;
    vertical-align: middle;
}

@media (max-width: 900px) {
    .stupid-checkbox-container {
	min-width: 49%;
    }
}

@media (max-width: 480px) {
    .stupid-checkbox-container {
	min-width: 90%;
    }
}

.tag-checkbox + .tag-label {
    display: inline;
    vertical-align: middle;
    margin: 0.5em;
}

#fulltext {
    margin: 0.5em;
}

#submit {
    margin: 0.5em;
}
