<!DOCTYPE html>
<html>
  <head>
    <title>Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/recipe.css">
    <link rel="stylesheet" href="/assets/nav.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      <h1 id="delete-prompt">Wirklich löschen?</h1>
      <form id="delete-form" action="/recipies/delete" method="post">
	<input type="submit" value="Löschen"/>
      </form>
    </main>
  </body>
</html>
