<!DOCTYPE html>
<html>
  <head>
    <title>Neues Rezept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/new.css">
    <link rel="stylesheet" href="/assets/nav.css">
    <script>
      function newIngredient() {
          var ings = document.getElementsByClassName("ingredient");
          var ing = ings[0];
          var newing = ing.cloneNode(true);
          var i;
          for (i = 0; i < 3; i++) {
              newing.childNodes[i].value = '';
          }
          var ingform = document.getElementById("ingredients");
          ingform.appendChild(newing);
          }
      // needs refactoring, double implementation of one function
      function rmIngredient() {
          var ings = document.getElementById("ingredients");
	  if (document.getElementsByClassName("ingredient").length > 1) {
              ings.removeChild(ings.lastChild);
	  }
      }
      function rmTag() {
          var tags = document.getElementById("tags");
          if (document.getElementsByClassName("tag").length > 1) {
              tags.removeChild(tags.lastChild);
	  }
      }
      function newTag() {
          var tags = document.getElementsByClassName("tag");
          var tag = tags[0];
	  var newtag = tag.cloneNode(true);
	  newtag.value= '';	  
          var tagform = document.getElementById("tags");
          tagform.appendChild(newtag);
          }
    </script>
  </head>
  <body>
    <header>
      nav bar goes here
    </header>
    <main>
      <h1 id="title">Neues Rezept</h1>
      <form action="/recipies/new" method="post" enctype="multipart/form-data">
	<input id="name-form" type="text" placeholder="Name des Rezepts" name="name" required/>
	<br>
        <textarea id="intro-form" name="intro" placeholder="Einleitende Worte" required></textarea>
	<br>
	<input id="pic-form" name="picture" type="file" accept="image/jpeg,image/png">
	<br>
	<div class="toggle-container">
	  <button class="toggle" type="button" onclick="newTag()">+ Schlagwort</button>
	  <button class="toggle" type="button" onclick="rmTag()">- Schlagwort</button>
	</div>  
	<div id="tags">
	  <input class="tag" name="tag" type="text" placeholder="Schlagwort" required/>
	</div>
	<div id="portions">
	  <label>Portionen
	    <input name="portions" type="number" step="1.0" value="4" required/>
	  </label>
	</div>
	<div class="toggle-container">
	  <button class="toggle" type="button" onclick="newIngredient()">+ Zutat</button>
	  <button class="toggle" type="button" onclick="rmIngredient()">- Zutat</button>
	</div>
        <div id="ingredients">
          <div class="ingredient">
            <input class="quantity" name="quantity" type="number" step="0.01" placeholder="0.0" required/>
            <input class="unit" name="unit" type="text" placeholder="Einheit" required/>
            <input class="ingname" name="ingredient" type="text" placeholder="Zutat" required/>
	  </div>
	</div>
        <textarea id="desc-form" name="description" placeholder="Rezept" required></textarea>
	<br>
        <textarea id="tip-form" name="tip" placeholder="Tip (Optional)"></textarea>
	<br>
        <input id="submit-button" type="submit" value="Fertig"/>
      </form>
    </main>
  </body>
</html>
