<!DOCTYPE html>
<html>
  <head>
    <title>Neues Rezept</title>
    <script>
      function newIngredient() {
          var ings = document.getElementsByClassName("ingredient");
          var ing = ings[0];
          var newing = ing.cloneNode(true);
          var i;
          for (i = 0; i < 3; i++) {
              newing.childNodes[i].value = '';
          }
          var ingform = document.getElementById("ingredients");
          ingform.appendChild(newing);
          }
      // needs refactoring, double implementation of one function
      function rmIngredient() {
          var ings = document.getElementById("ingredients");
	  if (document.getElementsByClassName("ingredient").length > 1) {
              ings.removeChild(ings.lastChild);
	  }
      }
      function rmTag() {
          var tags = document.getElementById("tags");
          if (document.getElementsByClassName("tag").length > 1) {
              tags.removeChild(tags.lastChild);
	  }
      }
      function newTag() {
          var tags = document.getElementsByClassName("tag");
          var tag = tags[0];
	  var newtag = tag.cloneNode(true);
	  newtag.value= '';	  
          var tagform = document.getElementById("tags");
          tagform.appendChild(newtag);
          }
    </script>
  </head>
  <body>
    <header>
      <h1 id="title">Neues Rezept</h1>
    </header>
    <main>
      <form action="/recipies/new" method="post" enctype="multipart/form-data">
	<input type="text" placeholder="Name des Rezepts" name="name" required/>
        <textarea name="intro" placeholder="Einleitende Worte" required></textarea>
	<input name="picture" type="file" accept="image/jpeg,image/png">
	<div id="tags">
	  <button type="button" onclick="newTag()">+ Schlagwort</button>
	  <button type="button" onclick="rmTag()">- Schlagwort</button>
	  <input class="tag" name="tag" type="text" placeholder="Schlagwort" required/>
	</div>
	<div>
	  <label>Portionen
	  <input name="portions" type="number" step="1.0" value="4" required/>
	  </label>
	</div>
        <div id="ingredients">
          <button type="button" onclick="newIngredient()">+ Zutat</button>
	  <button type="button" onclick="rmIngredient()">- Zutat</button>
          <div class="ingredient">
            <input name="quantity" type="number" step="0.01" placeholder="0.0" required/>
            <input name="unit" type="text" placeholder="Einheit" required/>
            <input name="ingredient" type="text" placeholder="Zutat" required/>
	  </div>
	</div>
        <textarea name="description" placeholder="Rezept" required></textarea>
        <textarea name="tip" placeholder="Tip (Optional)"></textarea>
        <input type="submit" value="Fertig"/>
      </form>
    </main>
  </body>
</html>
