<!DOCTYPE html>
<html>
  <head>
    <title>Rezept</title>
  </head>
  <body>
    <header>
      <h1>Rezept</h1>
    </header>
    <main>
      <p id="intro">Einleitung</p>
      <h3>Schlagwörter</h3>
      <div id="tags">
        <span>Tag</span>
      </div>
      <h3>Zutaten</h3>
      <div id="ingredients">
        <div class="ingredient">
          <span class="quantity">Zahl</span>
          <span class="unit">Einheit</span>
          <span class="name">Name</span>
	</div>
      </div>
      <p id="description">Beschreibung</p>
      <p id="tip">Tip</p>
    </main>
  </body>
</html>
