<!DOCTYPE html>
<html>
  <head>
    <title>Rezept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/recipe.css">
    <link rel="stylesheet" href="/assets/nav.css">
    <script>
      function incPortions () {
          var portions = Number(document.getElementById("portions-display").textContent);
          var portions_new = portions + 1; 
          var ings = document.getElementsByClassName("quantity");
          var i;
          for (i = 0; i < ings.length; i++) {
	      var new_quant = Number(ings[i].textContent) * portions_new / portions;
              ings[i].textContent = Math.round(new_quant * 100) / 100;
	  }
          document.getElementById("portions-display").textContent = portions_new;
      }
      function decPortions () {
          var portions = Number(document.getElementById("portions-display").textContent);
	  if (portions > 1) {
              var portions_new = portions - 1; 
              var ings = document.getElementsByClassName("quantity");
              var i;
              for (i = 0; i < ings.length; i++) {
	          var new_quant = Number(ings[i].textContent) * portions_new / portions;
                  ings[i].textContent = Math.round(new_quant * 100) / 100;
	      }
              document.getElementById("portions-display").textContent = portions_new;
	  }
      }
    </script>
  </head>
  <body>
    <header>
      <div id="nav-bar">
	<a class="nav-item" href="/recipies"><img width="100%" src="/assets/book.png"></a>
	<a class="nav-item" href="/recipies/new"><img width="100%" src="/assets/plus.png"></a>
	<a class="nav-item" href="/search"><img width="100%" src="/assets/search.png"></a>
	<img class="nav-item nav-button" src="/assets/external.png"/>
      </div>
    </header>
    <main>
    <div class="container">
      <div class="container-head">
	<h1 id="title">Rezept</h1>
	<div class="container-vert" id="tags">
          <span class="tag">Tag</span>
	</div>
	<p id="intro">Einleitung</p>
      </div>
      <img id="picture" src="#" alt="Ein Bild des Gerichts">
    </div>
    <div id="portions-toggles">
      <span>Portionen:</span>
      <div id="portions-display">
	4
      </div>
      <button type="button" onclick="incPortions();">+</button>
      <button type="button" onclick="decPortions();">-</button>
    </div>
    <h2 class="heading">Zutaten</h3>
    <div id="ingredients">
      <div class="ingredient">
        <span class="quantity">Zahl</span>
        <span class="unit">Einheit</span>
        <span class="name">Name</span>
      </div>
    </div>
    <h2 class="heading">Zubereitung</h3>
    <p id="description">Beschreibung</p>
    <p id="tip">Tip</p>
    </main>
  </body>
</html>
