<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezeptsuche</title>
    <link rel="stylesheet" href="/assets/search.css">
    <link rel="stylesheet" href="/assets/nav.css">
  </head>
  <body>
    <header>
    </header>
    <h1>Rezeptsuche</h1>
    <form action="/search" method="GET">
      <input id="fulltext" type="text" name="term" placeholder="Volltextsuche"/>
      <div id="tags">
	<div class="stupid-checkbox-container">
	  <input class="tag-checkbox" type="checkbox" name="tags" value="#"/>
	  <label class="tag-label">Tag</label>
	</div>
      </div>
      <input id="submit" type="submit" value="Suche">
    </form>
  </body>
</html>

